* {
    box-sizing: border-box;
}

div {
    padding: 10px;
    min-height: 150px;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: red;
    padding: 10px 150px;
}

.mainblock {
    background: green;
}

/*.row::after {*/
/*    content: "";*/
/*    clear: both;*/
/*    display: block;*/
/*}*/

.row {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
    flex-wrap: wrap;
}

.col {
    /*float: left;*/
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
}

.col-4 {
    flex-basis: 25%;
}

div .col-4:first-child, div .col-4:last-child {
    flex-basis: 75%;
}

.col-2 {

    flex-basis: 50%;
}

.col-1 {

    flex-basis: 100%;
}

.block {
    background: yellow;
}

.block-1 {
    background: blue;
}

.block-3 {
    background: pink;
}

@media (max-width: 540px) {

    div {
        min-height: 450px;
    }

    .col-4 {
        flex-basis: 100%;
    }

    col-2 {
        flex-basis: 50%;
    }

    .col-1 {
        flex-basis: 100%;
    }
}

/*@media only screen and (orientation: portrait){*/
/*    body {*/
/*        font-size: 14px;*/
/*    }*/
/*}*/

/*@media only screen and (orientation: landscape){*/
/*    body {*/
/*        font-size: 16px;*/
/*}*/
/*}*/
